<div class="bg-slate-700 flex items-center justify-center space-y-20 min-h-screen flex-col">

  <form #form="ngForm" (submit)="onSubmit()">
    <input type="text" class="p-3 rounded-xl w-96" placeholder="Input City Name" name="city" [(ngModel)]="cityName">
  </form>


  <div class="flex flex-wrap" *ngIf="weatherData">
    <div class="w-full px-2">
      <div class="bg-gray-900 text-white relative min-w-0 break-words rounded-xl overflow-hidden shadow-sm mb-4 w-full">
        <div class="px-6 py-6 relative">
          <div class="flex mb-4 justify-between items-center">
            <div>
              <h5 class="mb-0 font-medium text-xl">{{weatherData.name}}</h5>
              <h6 class="mb-0">{{myDate | date: 'longDate'}}</h6><small>{{weatherData.weather[0].main}}</small>
            </div>
            <div class="text-right">
              <h3 class="font-bold text-4xl mb-0"><span>{{weatherData.main.temp}}&deg;C</span></h3>
            </div>
          </div>
          <div class="block sm:flex justify-between items-center flex-wrap">
            <div class="w-full sm:w-1/2">
              <div class="flex mb-2 justify-between items-center"><span>Temp</span><small class="px-2 inline-block">{{
                  weatherData.main.temp }}&nbsp;&deg;C</small></div>
            </div>
            <div class="w-full sm:w-1/2">
              <div class="flex mb-2 justify-between items-center"><span>Feels like</span><small
                  class="px-2 inline-block">{{
                  weatherData.main.feels_like }}&nbsp;&deg;</small></div>
            </div>
            <div class="w-full sm:w-1/2">
              <div class="flex mb-2 justify-between items-center"><span>Temp min</span><small
                  class="px-2 inline-block">{{
                  weatherData.main.temp_min }}&nbsp;&deg;</small></div>
            </div>
            <div class="w-full sm:w-1/2">
              <div class="flex mb-2 justify-between items-center"><span>Temp max</span><small
                  class="px-2 inline-block">{{
                  weatherData.main.temp_max }}&nbsp;&deg;</small></div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>






  <!-- <div class="form mb-20">
    <form>
      <div>
        <input type="text" name="city" placeholder="Input City Name" class="rounded-xl overflow-hidden p-3 w-96">
      </div>
    </form>
  </div>
  <div class="card p-5 rounded-xl">
    <div class="upper-data">
      <div class="card-info w-96 h-96">
        <h1 class="font-bold text-8xl text-white">38</h1>
      </div>
    </div>
    <img
      src="https://images.unsplash.com/photo-1530179123598-38d05c67c1b1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=688&q=80"
      alt="">
    <img
      src="https://images.unsplash.com/photo-1447601932606-2b63e2e64331?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=679&q=80"
      alt="">
    <div class="lower-data rounded-xl p-3 bg-white">
      sakdjhsajkh
    </div>
  </div> -->
</div>



<router-outlet></router-outlet>